@model CandyShop.ViewModels.Product.EditVM
@{
    ViewData["Title"] = "Edit Product";
}


<h1>Edit Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="Edit" method="post">
            @Html.HiddenFor(m=>m.Id);
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                @Html.LabelFor(m=>m.PieceCount)
                <br />
                @Html.TextBoxFor(m=>m.PieceCount)
                @Html.ValidationMessageFor(m=>m.PieceCount)
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.Price)
                <br />
                @Html.TextBoxFor(m=>m.Price)
                @Html.ValidationMessageFor(m=>m.Price)
            </div>
            
            <br />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a href="/Home/Index">Back to Home</a>
</div>