@model CandyShop.ViewModels.Account.EditPasswordVM
@{
    ViewData["Title"] = "Change Password";
    this.Layout = "~/Views/Shared/_Layout.cshtml";

}



<h1>Change Password</h1>

<hr />
<div>
    <div>
        <form action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m=>m.Id)
            <div class="form-group">
                @Html.LabelFor(m=>m.NewPassword)
                <br />
                @Html.PasswordFor(m=>m.NewPassword)
                @Html.ValidationMessageFor(m=>m.NewPassword)
            </div>
            <div class="form-group">
                @Html.LabelFor(m=>m.Password)
                <br />
                @Html.PasswordFor(m=>m.Password)
                @Html.ValidationMessageFor(m=>m.Password)
            </div>

            <div class="form-group">
                @Html.LabelFor(m=>m.RepeatedPasword)
                <br />
                @Html.PasswordFor(m=>m.RepeatedPasword)
                @Html.ValidationMessageFor(m=>m.RepeatedPasword)
            </div>
            
            @Html.ValidationMessage("wrongPassword", new {@style = "color:#b02a37"})
            @Html.ValidationMessage("weakPassword", new {@style = "color:#b02a37"})

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<br />
@Html.ValidationMessage("error", new {@style = "color:#b02a37"})
