@using CandyShop.Entities;
@using CandyShop.ExtentionMethods;
@using CandyShop.Repositories;
@{
    ViewData["Title"] = "Account";
   var currentUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}


<h1>/Account/Index</h1>


<div >
     <h6>FirstName</h6>
    @Html.Label(@currentUser.FirstName)
    <hr />

    <h6>LastName</h6>
    @Html.Label(@currentUser.LastName)

    <hr>

    <h6>Email</h6>
    @Html.Label(@currentUser.Email)
    <hr />

    <h6>Username</h6>
    @Html.Label(@currentUser.Username)
    <hr />

    <a href="/Account/Edit">Edit Account</a>
    <a href="/Account/ChangePassword">Change Password</a>
    
</div>




